html {
    -webkit-tap-highlight-color: transparent;
}
.profile-photo {
    animation: animation 1500ms linear both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 5px 7px 11px 1px #111111, -2px 2px 7px 3px #252525;
    object-fit: cover;
    max-height: 525px;
    transition-property: all;
    transition-duration: 700ms;
}
.profile-photo.clicked {
    filter: blur(10px) grayscale(100%);
}
body {
    background-color: #1d1d1dfa;
    font-family: sans-serif; 
    margin: 0px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1, h2 {
    color: #cccccc;
    text-align: center;
    text-shadow:#000000 0px 10px 13px;
}
h1 {
    font-weight: 500;
}
h2 {
    font-size: 18px;
    font-weight: 300;
}
h3 {
    color: #cccccc;
    text-shadow:#000000 0px 10px 13px;
    font-weight: lighter;
}
div.card {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;    
    box-shadow: inset 6px 6px 20px 10px #111111, inset -20px -19px 20px 0px #252525,  -7px -6px 20px 5px #232323;
    width: 80%;
    max-width: 700px;
}
div.projects {
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: inset 6px 6px 20px 10px #111111, inset -20px -19px 20px 0px #252525,  -7px -6px 20px 5px #232323;
    width: 80%;
    max-width: 700px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.project-icon {
    display: inline-block;
    object-fit:cover;
    text-decoration: none;
    text-align: center;
    max-width: 110px;
    max-height: 110px; 
    margin: 10px;
    filter: drop-shadow(6px 6px 9px black);
}
.logo-link {
    filter: drop-shadow(6px 6px 9px black);
}
/*
ipad screen
*/
@media screen and (min-width: 699px){
    div.card {
        margin-top: 2vh;
    }
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 25px;
    }
}
/*
ipad pro screen
*/
@media screen and (min-height: 1200px) {
    div.card {
        margin-top: 15px;
    }
    .profile-photo {
        max-height: 800px;
    }
    h1 {
        font-size: 60px
    }
    h2 {
        font-size: 30px;
    }
}
/*
pixel, iphone 6, 7, 8 screen
*/
@media screen and (min-width: 400px) and (max-width: 700px) {
    div.card {
        margin-top: 3vh;
    } 

}
/*
tall phones ie iphone x
*/
@media screen and (min-height: 750px) and (max-height: 900px) {
    div.card {
        margin-top: 1vh;
    }
    .logo-link {
        width: 30px;
        height: 30px;
    }
}
ul.social-links {
    list-style: none;
    padding: 1px;
}
ul.social-links li {
    display: inline-block;
} 
ul.project-list {
    list-style: none;
    padding: 0px;
}  
ul.project-list li {
    display: inline-block;
} 
.logo-link {
    background-color: #5178a0;
    display: inline-block;
    width: 35px;
    height: 35px;
    mask-size: cover;
    mask-position: center;
    mask-repeat:no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat:no-repeat;
    filter: saturate(2);
    transition-property: all;
    transition-duration: 700ms;
    padding: 1px;
}
/*
iphone se and smaller for link button sizes
*/
@media screen and (max-width: 346px) {
    .logo-link {
        width: 30px;
        height: 30px;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 15px;
    }
}
/*
pixel, iphone 6, 7, 8 screen
*/
@media screen and (min-width: 400px) and (max-width: 700px) {
    div.card {
        margin-top: 0vh;
        max-height: 90%;
    }
    ul.social-link {
        padding: 5px;
        margin: 10px;
    }
    .profile-photo {
        max-height: 400px
    }
}
/*
ipad pro
*/
@media screen and (min-height: 1200px) {
    .logo-link {
        width: 60px;
        height: 60px;
    }
}
/*
ipad
*/
@media screen and (min-width: 699px){
    .logo-link {
        width: 60px;
        height: 60px;
    }
}
@media screen and (min-width: 1100px) {
    div.card {
        display: inline-block;
        margin-left: 5vw;
        margin-top: 5px;
        margin-bottom: 1vh;
        max-width: 40vw;
        max-height: 650px;
    }
    .logo-link {
        width: 50px;
        height: 50px;
        padding: 1px;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 15px;
    }
    .profile-photo {
        max-height: 475px;
        max-width: 80vh;

    }
    div.projects {
        vertical-align: top;
        margin-left: 3vw;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 1vh;
        max-width: 40vw;
    }
}
@media not all and (min-resolution:.001dpcm) {
    .profile-photo {
        max-height: 450px;
        max-width: 60vw;
    }
    div.card {
        width: 425px;
        max-width: 700px;
    }
}
.logo-link:hover {
    background-color: #c54441;
    transform: rotate(30deg);
}
.github-link {
    -webkit-mask-image: url(assets/icons/github.svg);
    mask-image: url(assets/icons/github.svg);   
}
.facebook-link {
    -webkit-mask-image: url(assets/icons/facebook.svg);
    mask-image: url(assets/icons/facebook.svg);
}
.instagram-link {
    -webkit-mask-image: url(assets/icons/instagram.svg);
    mask-image: url(assets/icons/instagram.svg);
}
.itunes-link {
    -webkit-mask-image: url(assets/icons/itunes.svg);
    mask-image: url(assets/icons/itunes.svg);
}
.spotify-link {
    -webkit-mask-image: url(assets/icons/spotify.svg);
    mask-image: url(assets/icons/spotify.svg);
}
.twitter-link {
    -webkit-mask-image: url(assets/icons/twitter.svg);
    mask-image: url(assets/icons/twitter.svg);
}
.linkedin-link {
    -webkit-mask-image: url(assets/icons/linked-in.svg);
    mask-image: url(assets/icons/linked-in.svg);
}


.animation-target {
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
  }
  
  /* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22r%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A0%2Ct%3A90%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22k%22%2Ce%3A%22s%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A20%2Cy%3A20%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */
  


  .animation-target {
    -webkit-animation: animation 3000ms linear both;
    animation: animation 3000ms linear both;
  }