.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0px 13px 20px 10px #111111;
    object-fit: cover;
    max-height: 525px;
    transition-property: all;
    transition-duration: 700ms;
}
.profile-photo.clicked {
    filter: blur(10px) grayscale(100%);
}
body {
    background-color: #1d1d1d;
    font-family: sans-serif; 
}
h1, h2 {
    color: #cccccc;
    text-align: center;
    text-shadow:#000000 0px 9px 13px;
}
h1 {
    font-weight: 500;
}
h2 {
    font-size: 18px;
    font-weight: 300;
}
div.card {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #313131;
    box-shadow: 0px 13px 20px 10px #111111;
    width: 80%;
    max-width: 700px;
}
/*
ipad screen
*/
@media screen and (min-width: 699px){
    div.card {
        margin-top: 10vh;
    }
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 25px;
    }
}
/*
ipad pro screen
*/
@media screen and (min-height: 1200px) {
    div.card {
        margin-top: 9vh;
    }
    .profile-photo {
        max-height: 800px;
    }
    h1 {
        font-size: 60px
    }
    h2 {
        font-size: 30px;
    }
}
/*
pixel, iphone 6, 7, 8 screen
*/
@media screen and (min-width: 400px) and (max-width: 700px) {
    div.card {
        margin-top: 3vh;
    } 

}
/*
tall phones ie iphone x
*/
@media screen and (min-height: 750px) and (max-height: 900px) {
    div.card {
        margin-top: 9vh;
    }
}
ul.social-links {
    list-style: none;
    padding: 0px;
}
ul.social-links li {
    display: inline-block;
}    
.logo-link {
    background-color: #5178a0;
    display: inline-block;
    width: 40px;
    height: 40px;
    mask-size: cover;
    mask-position: center;
    mask-repeat:no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat:no-repeat;
    filter: saturate(2);
    transition-property: all;
    transition-duration: 700ms;
}
/*
iphone se and smaller for link button sizes
*/
@media screen and (max-width: 346px) {
    .logo-link {
        width: 30px;
        height: 30px;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 15px;
    }
}
/*
pixel, iphone 6, 7, 8 screen
*/
@media screen and (min-width: 400px) and (max-width: 700px) {
    .logo-link {
        width: 45px;
        height: 45px
    }
}
/*
ipad pro
*/
@media screen and (min-height: 1200px) {
    .logo-link {
        width: 60px;
        height: 60px;
    }
}
/*
ipad
*/
@media screen and (min-width: 699px){
    .logo-link {
        width: 60px;
        height: 60px;
    }
}
@media screen and (min-width: 1100px) {
    div.card {
        margin-top: auto;
        margin-bottom: 1vh;
        max-width: 63vh;
    }
    .logo-link {
        width: 50px;
        height: 50px;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 15px;
    }
    .profile-photo {
        max-height: 500px;
        max-width: 60vh;

    }
}
@media not all and (min-resolution:.001dpcm) { @media {
    .profile-photo {
        max-height: 400px;
        max-width: 60vh;
    }
    div.card {
        width: 425px;
        max-width: 700px;
    }
}
.logo-link:hover {
    background-color: #c54441;
    transform: rotate(30deg);
}
.github-link {
    -webkit-mask-image: url(assets/icons/github.svg);
    mask-image: url(assets/icons/github.svg);   
}
.facebook-link {
    -webkit-mask-image: url(assets/icons/facebook.svg);
    mask-image: url(assets/icons/facebook.svg);
}
.instagram-link {
    -webkit-mask-image: url(assets/icons/instagram.svg);
    mask-image: url(assets/icons/instagram.svg);
}
.itunes-link {
    -webkit-mask-image: url(assets/icons/itunes.svg);
    mask-image: url(assets/icons/itunes.svg);
}
.spotify-link {
    -webkit-mask-image: url(assets/icons/spotify.svg);
    mask-image: url(assets/icons/spotify.svg);
}
.twitter-link {
    -webkit-mask-image: url(assets/icons/twitter.svg);
    mask-image: url(assets/icons/twitter.svg);
}