html {
    -webkit-tap-highlight-color: transparent;
}
body {
    font-size: 20px;
    background-color: #23272b;
    background-image: url(assets/808-machine.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div.keys{
    border-radius: 30px;
    background-color: #313131;
    box-shadow: 0px 13px 20px 10px #111111;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    flex-wrap: wrap;
    margin-top: auto;
}

.key {
    display: inline-block;
    border: .3rem solid #02ccff;
    border-radius: 30px;
    font-size: 10px;
    padding: 20px 20px;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: #4ed9fc66;
    text-shadow: 0 0 .5rem black;
    box-shadow: 0 2px 30px black;
    margin: 4px;
    height: 49px;
    width: 59px;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 20px;
}

.sound {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}